<app-sidebar></app-sidebar>
<div class="slot-container">
  <div class="slot-header">
    <h2>🎰 Slot Machine</h2>
  </div>

  <div class="slot-status">
    <span>💰 Geld: {{ currentMoney | number:'1.0-0' }}</span>
    <span>🎲 Einsatz: {{ spinCost }} 💰</span>
    <span>🏆 Gewinn: {{winReward}} 💸</span>
  </div>

  <div class="slot-bet">
    <label for="bet">Einsatz wählen:</label>
    <input type="number" id="bet" [(ngModel)]="betAmount" min="1" step="1">
  </div>

  <div class="slot-reels">
<app-reel
  *ngFor="let reel of reels; let i = index"
  #reelComp
></app-reel>

  </div>

  <button (click)="spin()" [disabled]="currentMoney < spinCost">Spin</button>

<div *ngIf="results.length" class="slot-result">
  Ergebnis: {{ resultString }}
</div>


  <div *ngIf="message" [class.win]="isWinner" [class.lose]="!isWinner" class="slot-message">
    {{ message }}
  </div>
</div>
