/* slot-machine.component.css */
.machine {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}

/* reel.component.css */
.reel {
  width: 60px;
  height: 60px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  background: #fff;
}
