<div class="sidebar-toggle" *ngIf="authService.isLoggedIn()" (click)="toggleSidebar()">☰</div>

<div class="sidebar" [class.open]="sidebarOpen">
  <button (click)="goHome()">🏠 Home</button>
  <button (click)="goToAchievements()">🎖️ Erfolge</button>
  <button (click)="goToProfile()">👤 Profil</button>
  <button *ngIf="authService.getRole()?.toLowerCase() === 'admin'" (click)="goToAdmin()">🛠️ Admin</button>
  <button (click)="howToPlay()">❓ Tutorial</button>
  <button [disabled]="achAmount < 3" (click)="goToClicker()">💰 Clicker</button>
  <button (click)="shop()">🃏 Karten</button>
  <!-- <button (click)="toggleDarkMode()">🌓 Dark Mode</button> -->
  <button (click)="logout()">🚪 Logout</button>
</div>
