<div
  class="sidebar-toggle"
  (click)="toggleSidebar()"
  [class.rotated]="sidebarOpen"
>
  ☰
</div>

<div class="sidebar" [class.open]="sidebarOpen">
  <!-- Alle Buttons: aktiv oder deaktiviert -->
  <a
    class="btn"
    *ngIf="isPageEnabled('home')"
    routerLink="/"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    🏠 Home
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('profile')"
    routerLink="/profile"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    👤 Profil
  </a>
  <a
    class="btn"
    *ngIf="authService.getRole()?.toLowerCase() === 'admin'"
    routerLink="/admin"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    🛠️ Admin
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('slots')"
    routerLink="/slot-maschine"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    🎰 Slots
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('village')"
    routerLink="/village"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    🛖 Dorf
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('clicker')"
    routerLink="/clicker"
    [class.disabled]="achAmount < 3 || !authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    💰 Clicker
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('shop')"
    routerLink="/card-shop"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    🃏 Karten
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('achievements')"
    routerLink="/achievements"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    🎖️ Erfolge
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('compare')"
    routerLink="/compare"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    📊 Scores
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('skillShop')"
    routerLink="/skill-shop"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    ⬆️ Skills
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('tutorial')"
    routerLink="/how-to-play"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    ❓ Tutorial
  </a>
  <a
    class="btn"
    *ngIf="isPageEnabled('private')"
    routerLink="/private-chat"
    [class.disabled]="!authService.isLoggedIn()"
    (click)="sidebarOpen = false"
  >
    💬 Private Chat
  </a>
  <button class="btn" (click)="logout()" [disabled]="!authService.isLoggedIn()">
    🚪 Logout
  </button>

  <!-- Login Button nur anzeigen, wenn nicht eingeloggt -->
  <div *ngIf="!authService.isLoggedIn()" class="login-overlay">
    <a class="btn login-button" routerLink="/login" (click)="sidebarOpen = false">🔐 Login</a>
  </div>
</div>
