<div class="opening-container">
  <h2>📦 Du öffnest ein {{ packName }} Pack...</h2>

<img
  *ngIf="showPack"
  [src]="packImagePath"
  alt="Pack Cover"
  class="pack-overlay"
  [class.drop]="packDropped"
/>

  <div class="flip-card" [class.flipped]="reveal" (click)="revealCard()">
    <div class="flip-inner">
      <!-- Vorderseite -->
      <div class="flip-front">
        <p class="pack-label"></p>
      </div>

      <!-- Rückseite -->
  <div class="flip-back" [ngClass]="packName.toLowerCase()">
        <p class="multiplier-text">{{ result }}</p>
        <div class="sparkles"></div>
      </div>
    </div>
  </div>
</div>