@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.card {
  transition: 0.25s;
  background: #f9f9f9;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 8px #0000001a;
  border: 1px solid #ddd;
  cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.card:hover {
  transition: 0.25s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

li {
  cursor: pointer;
}
