@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.card{
 // background: #f9f9f9;
 // max-width: 500px;
 // border-radius: 12px;
// box-shadow: 0 4px 8px #0000001a;

  background-color: red;
  max-width: 1000px;
  border-radius: 50px;
  box-shadow: 0 100px 200px #0000001a;
}
