//blau
// $theme: #2880eb;
// $theme-hover: #2273d6;

//grün
//$theme: #4caf50;
//$theme-hover: #43a047;

//gelb
// $theme: #fcba03;
// $theme-hover: #d99f00;

//pink
// $theme: #ed7eeb;
// $theme-hover: #db74da;

//dark
$theme: 2b2b2b;
$theme-hover: #3b3b3b;

$card-bg: #f9f9f9;
$card-radius: 12px;
$card-shadow: 0 4px 8px #0000001a;
$card-border: #ddd;
