// Farben
$theme: #2880eb;
$theme-hover: #2273d6;


//blau: #2880eb;
//hover: #2273d6:

//grün: #4caf50;
//hover: #43a047;



$card-bg: #f9f9f9;
$card-radius: 12px;
$card-shadow: 0 4px 8px #0000001a;
$card-border: #ddd;
