<app-sidebar></app-sidebar>
<app-topbar></app-topbar>

<main>
  <div class="card chat-box">
    <div class="chat-content" [class.mobile-chat-active]="showChat">
      
      <div class="user-list-container">
        <div class="user-list-header">
          <h3>Users</h3>
        </div>
        <div class="user-list">
          <app-loader *ngIf="isLoading && users.length === 0"></app-loader>
          <ul>
            <li *ngFor="let user of users" (click)="selectUser(user)" class="user-list-item">
              <img [src]="avatar(user.profileImageUrl)" (error)="onAvatarError($event)" alt="Avatar" class="avatar">
              <span>{{ user.username }}</span>
              <span class="unread-marker" *ngIf="unreadMessages[user.username]"></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="chat-area-container">
        <div class="chat-header" *ngIf="selectedUser">
          <button class="back-button" (click)="backToUserList()">←</button>
          <img [src]="avatar(selectedUser.profileImageUrl)" (error)="onAvatarError($event)" alt="Avatar" class="avatar">
          <h3>{{ selectedUser.username }}</h3>
        </div>
        <div class="chat-header" *ngIf="!selectedUser">
          <h3>Select a User</h3>
        </div>
  
        <div class="chat-area">
          <app-loader *ngIf="isLoading && messages.length === 0"></app-loader>
          <div class="messages" #messageContainer>
            <div class="message" *ngFor="let msg of messages; trackBy: trackByMsg" [ngClass]="{
                'user-message': msg.sender === username,
                'other-message': msg.sender !== username
              }">
              <img [src]="getAvatar(msg.sender)" (error)="onAvatarError($event)" alt="Avatar" class="avatar message-avatar">
              <div class="message-content" (click)="copyToClipboard(msg.message)">
                <span class="user"><b>{{ msg.sender }}</b></span>
                <span class="text">{{ msg.message }}</span>
                <span class="timestamp">{{ msg.created_at | date : "HH:mm" }}</span>
              </div>
            </div>
          </div>
    
          <form (ngSubmit)="sendMessage()" class="chat-form" *ngIf="selectedUser">
            <input [(ngModel)]="newMessage" name="message" placeholder="Write a message..." />
            <button class="send-btn" [disabled]="newMessage.trim() === ''" type="submit">
            📤
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>