<app-sidebar></app-sidebar>
<div class="card-shop">
  <h2>🎴 Karten Shop</h2>
<app-loader *ngIf="isLoading"></app-loader>
  <div class="money-display">💼 Dein Geld: {{ money }} €</div>

  <div *ngIf="!isLoading" class="packs">
    <div
      class="pack"
      *ngFor="let pack of cardPacks"
      [class.disabled]="money < pack.price"
    >
      <div class="image-wrapper">
        <img [src]="pack.image" [alt]="pack.name" />
      </div>

              <ul class="pack-contents">
          <l*i *ngFor="let content of pack.contents">
            {{ content.type }} ({{ content.chance }}%)
          </li>
        </ul>
      <h3>{{ pack.name }}</h3>
      <p>💰 {{ pack.price }} €</p>

      <button
        (click)="buyPack(pack)"
        [class.disabled]="money < pack.price"
        [disabled]="money < pack.price"
      >
        Kaufen
      </button>
    </div>
  </div>

  <p *ngIf="message" class="warning">{{ message }}</p>
</div>
