<div class="card-shop">
  <h2>🎴 Karten Shop</h2>
  <div *ngIf="isLoading" class="loader-container">
    <div class="loader"></div>
  </div>
  <div class="money-display">💼 Dein Geld: {{ money }} €</div>

  <div *ngIf="!isLoading" class="packs">
    <div
      class="pack"
      *ngFor="let pack of cardPacks"
      [class.disabled]="money < pack.price"
    >
      <div class="image-wrapper">
        <img [src]="pack.image" [alt]="pack.name" />
      </div>

      <h3>{{ pack.name }}</h3>
      <p>💰 {{ pack.price }} €</p>

      <button
        (click)="buyPack(pack)"
        [class.disabled]="money < pack.price"
        [disabled]="money < pack.price"
      >
        Kaufen
      </button>
    </div>
  </div>

  <p *ngIf="message" class="warning">{{ message }}</p>
</div>