<app-sidebar></app-sidebar>
<app-topbar page="Kontakt"></app-topbar>

<div class="legal-container">
  <div class="legal-card">
    <h2>📬 Kontakt</h2>
    <p>
      Du möchtest mir Feedback geben, einen Fehler melden oder hast Fragen zu
      <strong>Outside Between</strong>? Dann melde dich gerne bei mir!
    </p>

    <div class="contact-info">
      <p>
        <strong>✉️ E-Mail:</strong>
        <a href="mailto:lucamuller2004@gmail.com">
          lucamuller2004&#64;gmail.com</a
        >
      </p>
      <p><strong>📞 Telefon:</strong> +49 157 3807 4339</p>
    </div>

    <p>Zur Not schreib einfach in den Chat</p>
  </div>

  <div class="legal-card">
    <h2>📣 Dein Feedback zählt!</h2>
    <p>
      Ich freue mich über jede Rückmeldung – egal ob Lob, Kritik oder neue
      Ideen. Dieses Projekt lebt vom Austausch mit seiner Community.
    </p>
    <p>Danke, dass du Teil davon bist! 🙌</p>
  </div>
</div>
