.achievement-container {
  margin: 2rem auto;
  padding: 2rem;
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    transition: 0.25s;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    align-items: center;

    &.locked {
      opacity: 0.4;
      filter: grayscale(1);
    }

    .icon {
      font-size: 1.5rem;
    }

    p {
      margin: 0;
    }
  }
}

li:hover {
  transition: 0.25s;
  scale: 1.1;
}
