<div class="profile-container">
  <div class="profile-avatar">
    <img src="../../../assets/profile2.png" alt="Profilbild" />
    <h2>Profil</h2>
  </div>

  <div class="profile-card">
    <h3>Statistiken</h3>
    <div class="stat-row">
      <span>🏆 Punkte</span>
      <span>{{ totalScore }}</span>
    </div>
    <div class="stat-row">
      <span>🎮 Partien</span>
      <span>{{ totalGames }}</span>
    </div>
    <div class="stat-row">
      <span>😊 Erfolge</span>
      <span>{{ unlockedAchievements }}</span>
    </div>
  </div>
</div>
