<div class="profile-container">
  <div class="profile-avatar">
    <img src="assets/profile.png" alt="Profilbild" />
    <h2>{{username}}</h2>
  </div>
<div *ngIf="isLoading" class="loader-container">
  <div class="loader"></div>
</div>
  <div class="profile-card">
    <h3>📊 Statistiken</h3>
    <div class="stat-row">
      <span>🏆 Punkte</span>
      <span>{{ totalScore }}</span>
    </div>
    <div class="stat-row">
      <span>🎮 Partien</span>
      <span>{{ totalGames }}</span>
    </div>
    <div class="stat-row">
      <span>😊 Erfolge</span>
      <span>{{ unlockedAchievements }}</span>
    </div>
    <div class="stat-row">
      <span>💰 Geld</span>
      <span>{{ money }}</span>
    </div>
    <div class="stat-row">
      <span>💠 Highscore</span>
      <span>{{ highscore }}</span>
    </div>
  </div>

  <div class="password-change-box">
    <h3>🔐 Passwort ändern</h3>

    <input [(ngModel)]="currentPassword" type="password" placeholder="Aktuelles Passwort" />
    <input [(ngModel)]="newPassword" type="password" placeholder="Neues Passwort" />
    <input [(ngModel)]="repeatPassword" type="password" placeholder="Neues Passwort wiederholen" />

    <button (click)="changePassword()">Ändern</button>

    <div *ngIf="pwChangeSuccess" class="success-msg">✅ Passwort erfolgreich geändert</div>
    <div *ngIf="!pwChangeSuccess" class="error-msg">{{ pwChangeMsg }}</div>
  </div>
</div>
