<!-- <app-topbar page="Offline"></app-topbar> -->

<div class="offline-container">
  <div class="error-heading">404</div>

  <div class="offline-card">
    <h2>🚧 Seite vorübergehend offline</h2>
    <p></p>
    <p><strong>Outside Between</strong> ist bald wieder da!</p>
  </div>

  <div class="offline-card">
    <h2>🕓 Wann geht’s weiter?</h2>
    <p>
      In der Regel dauern Wartungen nur kurze Zeit. Falls du denkst, dass etwas
      nicht stimmt, schau gern später nochmal vorbei oder kontaktiere uns
      direkt.
    </p>
  </div>

  <div class="offline-card">
    <h2>📬 Kontakt</h2>
    <p>
      Du hast Fragen oder Feedback? Schreib mir gerne eine Nachricht:
      <br />
      <a href="lucamuller2004&#64;gmail.com">lucamuller2004&#64;gmail.com</a>
    </p>
  </div>
</div>
