<app-sidebar></app-sidebar>
<app-topbar page="Scorevergleich"></app-topbar>

<div class="page-container">
  <app-loader *ngIf="loading"></app-loader>
  <div *ngIf="error" class="error-msg">{{ error }}</div>

  <div class="content-container" *ngIf="!loading && !error">
    <div class="card user-select-card">
      <h3 class="card-header">Benutzer auswählen</h3>
      <div class="user-select-inputs">
        <div class="input-group">
          <label for="user1">Benutzer 1</label>
          <select id="user1" [(ngModel)]="firstUsername" (change)="onUser1Change()">
            <option *ngFor="let user of allUsers" [ngValue]="user">{{ user }}</option>
          </select>
        </div>
        <div class="input-group">
          <label for="user2">Benutzer 2</label>
          <select id="user2" [(ngModel)]="secondUsername" (change)="onUser2Change()">
            <option *ngFor="let user of availableForSecondSelection" [ngValue]="user">{{ user }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card compare-chart-card">
        <h3 class="card-header">Scoreverlauf</h3>
      <div class="chart-container">
        <canvas
          baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [type]="lineChartType"
        ></canvas>
      </div>
    </div>
  </div>
</div>
